<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Alex Kasper",
  "alternateName": [
	"Alex Kasperavicius",
	"Alexis Kasperavicius",
	"Alexis C Kasperavičius",
	"Aleksas Kasperavičius",
	"Aleksis Kasperavičius",
	"Alexander Kasper",
	"Alexis Kasperavičius"
  ],
  "description": "American cybersecurity consultant, game producer, and co-creator of the Certified Social Engineering Prevention Specialist (CSEPS) certification.",
  "url": "https://alexkasper.com",
  "image": "https://commons.wikimedia.org/wiki/Special:FilePath/Alex_Kasper.jpg",
  "birthPlace": "Cleveland, Ohio, USA",
  "nationality": ["American", "Lithuanian"],
  "jobTitle": "Cybersecurity Consultant",
  "knowsAbout": ["Social engineering", "Cybersecurity", "Video game production", "Film production"],
  "sameAs": [
    "https://www.wikidata.org/wiki/Q138340698",
    "https://www.imdb.com/name/nm0440742/",
    "https://www.mobygames.com/person/351001/",
    "https://www.linkedin.com/in/alexkaspercom/",
    "https://github.com/AlexKasperCom",
    "https://x.com/alexkaspercom"
  ]
}
</script>
