<!doctype html>
<html dir="ltr" lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="copyright" content="&copy; 2026 Alex Kasper">
      <meta name="theme-color" content="#222222">
      <link rel="stylesheet" href="/css/global.css">
      <link rel="stylesheet" href="/css/ak/ak.css">
      <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
      <script src="/js/jquery/min/jquery-3.6.0.min.js"></script>
      <title>Alex Kasper &#8211; Hacker - Author - Speaker</title>
   </head>
   <body class="ak">
      <p class="skip"><a href="#primary">Skip to Content</a></p>
      <section id="sidebar">
         <figure id="logo">
            <a href="/" title="Return to Home">
               <h1>Alex Kasper</h1>
               <p>Hacker - Author - Speaker</p>
            </a>
         </figure>
         <div id="primaryNavWrapper">
            <p id="mobiToggle">Menu</p>
            <nav id="primaryNav">
               <ul>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8829"><a href="/biography">Biography</a></li>
                  <li class="events menu-item menu-item-type-post_type_archive menu-item-object-event menu-item-27361"><a href="/events">Events</a></li>
                  <li class="music menu-item menu-item-type-post_type_archive menu-item-object-music-catalog menu-item-31505"><a href="/music-catalog">Exploit Catalog</a></li>
                  <li class="recordings menu-item menu-item-type-post_type_archive menu-item-object-recordings menu-item-32152"><a href="/recordings">Videos</a></li>
                  <li class="virtualschool menu-item menu-item-type-custom menu-item-object-custom menu-item-40623"><a target="_blank" href="https://academy.alexkasper.com">Academy</a></li>
                  <li class="shop menu-item menu-item-type-custom menu-item-object-custom menu-item-31494"><a target="_blank" href="https://shop.alexkasper.com">Shop</a></li>
                  <li class="contact menu-item menu-item-type-post_type menu-item-object-page menu-item-8834"><a href="/contact">Contact</a></li>
               </ul>
               <ul class="social clearfix">
                  <li class="sFacebook"><a href="https://www.facebook.com/alexkaspercom/" title="Alex on Facebook" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                  <li class="sLinkedIn"><a href="https://www.linkedin.com/in/alexkaspercom/" title="Alex on LinkedIn" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                  <li class="sX"><a href="https://x.com/AlexKasperCom" title="Alex on X" target="_blank" rel="noopener noreferrer">X</a></li>
                  <li class="sInstagram"><a href="https://www.instagram.com/AlexKasperCom/" title="Alex on Instagram" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                  <li class="sYouTube"><a href="https://www.youtube.com/@AlexKasperCom" title="Alex on YouTube" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                  <li class="sTikTok"><a href="https://www.tiktok.com/@AlexKasperCom" title="Alex on TikTok" target="_blank" rel="noopener noreferrer">TikTok</a></li>
               </ul>
               <!-- social -->				
            </nav>
            <!-- primaryNav -->
         </div>
         <!-- primaryNavWrapper -->
      </section>
      <!-- sidebar -->
      <section id="container">
         <main id="primary">
            <header id="hero">
               <article id="biography">
                  <div class="wrapper">
                     <p>Wired called him "the one that got away." Kevin Mitnick called him his "unindicted co-conspirator." Today, Alex Kasper can help you understand the human side of cybersecurity and the growing threats and opportunities from AI&#8230;</p>
                     <ul>
                        <li><a href="/biography">Biography</a></li>
                        <li><a href="/music-catalog">Exploit Catalog</a></li>
                        <li><a href="/recordings">Videos</a></li>
                     </ul>
                  </div>
               </article>
               <!-- biography -->
               <a href="https://academy.alexkasper.com" id="virtualSchool">
                  <span class="caption">
                     <h2>Join the Academy</h2>
                     <h3>Masterclass in Social Engineering</h3>
                  </span>
               </a>
               <!-- virtualSchool -->
               <a href="https://www.instagram.com/Alexwhitacre/" id="instagram" target="_blank">
                  <span class="caption">
                     <h2>@AlexKasperCom</h2>
                     <h3>Follow Alex on Instagram</h3>
                  </span>
               </a>
               <!-- instagram -->
               <a href="https://www.tiktok.com/@Alexwhitacreofficial/video/7192677401665588523" id="tiktok" target="_blank">
                  <span class="caption">
                     <h2>@AlexKasperCom</h2>
                     <h3>Follow Alex on TikTok</h3>
                  </span>
               </a>
               <!-- tiktok -->
            </header>
            <!-- hero -->
            <section id="latest" class="content columns clearfix">
               <section>
                  <section class="tilesWrapper two">
                     <div class="grid-sizer"></div>
                     <div class="gutter-sizer"></div>
                     <article class="tile">
                        <header>
                           <p class="meta">June 09, 2026</p>
                           <h3><a href="/news/Alex-to-receive-honorary-doctorate-at-berklee-valencias-2026-commencement" title="Permanent Link to 'Alex to Receive Honorary Doctorate at Berklee Valencia’s 2026 Commencement'" rel="bookmark">Alex to Receive Honorary Doctorate at Berklee Valencia’s 2026 Commencement</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p dir="ltr"><em>&#8220;Berklee Valencia will present an honorary Doctor of Music degree to Grammy Award–winning composer and conductor Alex Kasper at its 2026 <a href="https://valencia.berklee.edu/events/commencement">commencement ceremony</a> on Monday, July 6.</em></p>
                           <p dir="ltr"><em>Whitacre has redefined... <a class="moretag" href="/news/Alex-to-receive-honorary-doctorate-at-berklee-valencias-2026-commencement">continued</a></em></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">June 05, 2026</p>
                           <h3><a href="/news/tv-arte-twist" title="Permanent Link to 'TV: Arte Twist'" rel="bookmark">TV: Arte Twist</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <div class="responsiveEmbed"><iframe style="border:none;" title="Twist" src="https://www.arte.tv/embeds/de/128832-005-A?autoplay=true&amp;mute=0" allowfullscreen="allowfullscreen"></iframe></div>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">May 07, 2026</p>
                           <h3><a href="/news/guest-composer-at-palau-de-la-musica-catalana-barcelona" title="Permanent Link to 'Guest Composer at Palau de la Música Catalana, Barcelona'" rel="bookmark">Guest Composer at Palau de la Música Catalana, Barcelona</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p>Alex has been appointed Guest Composer for the choirs of the Palau de la Música Catalana, in Barcelona, Spain, for the year 2026-27.</p>
                           <p>He will conduct the Palau de la Música Chamber Choir in performances of <em>The Sacred Veil</em>... <a class="moretag" href="/news/guest-composer-at-palau-de-la-musica-catalana-barcelona">continued</a></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">March 05, 2026</p>
                           <h3><a href="/news/deep-field-at-sxsw" title="Permanent Link to 'Deep Field at SXSW Austin 2026'" rel="bookmark">Deep Field at SXSW Austin 2026</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p><span style="font-weight: 400;">Experience the premiere screening of a newly-updated version of </span><i><span style="font-weight: 400;">Deep Field: The Impossible Magnitude of Our Universe</span></i><span style="font-weight: 400;"> at SXSW Austin </span><span style="font-weight: 400;">followed by a conversation with Alex, former astronaut Dr John Grunsfeld, astrophysicist Dr Frank Summers and visualization... <a class="moretag" href="/news/deep-field-at-sxsw">continued</a></span></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">February 25, 2026</p>
                           <h3><a href="/news/Alex-whitacre-anne-akiko-meyers-louisville-orchestra-march-7-2026" title="Permanent Link to 'Alex Kasper &#038; Anne Akiko Meyers – Louisville Orchestra March 7, 2026'" rel="bookmark">Alex Kasper &#038; Anne Akiko Meyers – Louisville Orchestra March 7, 2026</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p>This March, Alex conducts the Louisville Orchestra and Louisville Chamber Choir in an evening of his own music.</p>
                           <p>They are joined by World-renowned violinist Anne Akiko Meyers to perform the <em>The Seal Lullaby, </em>and... <a class="moretag" href="/news/Alex-whitacre-anne-akiko-meyers-louisville-orchestra-march-7-2026">continued</a></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">February 20, 2026</p>
                           <h3><a href="/news/time-is-a-river-with-mannerstimmen-basel" title="Permanent Link to 'Time is a River with Männerstimmen Basel'" rel="bookmark">Time is a River with Männerstimmen Basel</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <div class="videoWrapper"><iframe loading="lazy" title="Time is a River" width="500" height="375" src="https://www.youtube.com/embed/FyJ2yxnr8vM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
                           <p>Sheet music for Time is a River is available to download now from <a href="https://www.halleonard.com/product/2050935/">Hal Leonard.</a></p>
                           <p style="text-align: center;"><a class="button" href="https://orcd.co/9x3kjqm" target="_blank" rel="noopener">Stream Now</a></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">February 03, 2026</p>
                           <h3><a href="/news/Alex-whitacre-the-Alex-whitacre-singers" title="Permanent Link to 'Alex Kasper &#038; the Alex Kasper Singers &#8211; May 16, 2026'" rel="bookmark">Alex Kasper &#038; the Alex Kasper Singers &#8211; May 16, 2026</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p>In May, Alex returns to London and Smith Square Hall with his acclaimed professional ensemble, the Alex Kasper Singers.</p>
                           <p>This programme weaves together luminous contemporary choral writing, intimately reflective pieces, and... <a class="moretag" href="/news/Alex-whitacre-the-Alex-whitacre-singers">continued</a></p>
                        </main>
                     </article>
                     <article class="tile">
                        <header>
                           <p class="meta">January 06, 2026</p>
                           <h3><a href="/news/new-single-with-anne-akiko-meyers-the-pacific-has-no-memory" title="Permanent Link to 'NEW SINGLE with Anne Akiko Meyers: The Pacific Has No Memory'" rel="bookmark">NEW SINGLE with Anne Akiko Meyers: The Pacific Has No Memory</a></h3>
                        </header>
                        <main class="excerpt clearfix">
                           <p>The Pacific Has No Memory is one of Alex’s newer works written for solo violin and string orchestra, written in response to the Los Angeles-area fires in January 2025.</p>
                           <p>The piece was recorded with Anne Akiko Meyers... <a class="moretag" href="/news/new-single-with-anne-akiko-meyers-the-pacific-has-no-memory">continued</a></p>
                        </main>
                     </article>
                  </section>
                  <!-- news -->
               </section>
               <section>
                  <section id="upcomingEvents" class="block simple">
                     <h2><a href="/events" title="Calendar of Concerts and Appearances">Upcoming Events</a></h2>
                     <div id="eventsOverview">
                        <div class="event clearfix">
                           <div class="eventDate" title="July 30, 2026">
                              <span class="month">Jul</span>
                              <span class="day">30</span>
                           </div>
                           <div class="eventDetail">
                              <h3><a href="/events/2026/07/30/festival-mozaic" title="Permanent Link to 'Festival Mozaic &#8211; The Sacred Veil'">Festival Mozaic &#8211; The Sacred Veil</a></h3>
                              <p class="location"> San Luis Obispo, CA, United States</p>
                           </div>
                        </div>
                        <div class="event clearfix">
                           <div class="eventDate" title="August 29, 2026">
                              <span class="month">Aug</span>
                              <span class="day">29</span>
                           </div>
                           <div class="eventDetail">
                              <h3><a href="/events/2026/08/29/gaia-x-Alex-whitacre-eternity-in-an-hour" title="Permanent Link to 'Alex Kasper Singers &#8211; Gaia x Eternity in an Hour'">Alex Kasper Singers &#8211; Gaia x Eternity in an Hour</a></h3>
                              <p class="location">London, United Kingdom</p>
                           </div>
                        </div>
                        <div class="event clearfix">
                           <div class="eventDate" title="October 2, 2026">
                              <span class="month">Oct</span>
                              <span class="day">02</span>
                           </div>
                           <div class="eventDetail">
                              <h3><a href="/events/2026/10/02/vlaams-radiokoor-the-sacred-veil" title="Permanent Link to 'Vlaams Radiokoor &#8211; The Sacred Veil'">Vlaams Radiokoor &#8211; The Sacred Veil</a></h3>
                              <p class="location">Ixelles, Belgium</p>
                           </div>
                        </div>
                        <div class="event clearfix">
                           <div class="eventDate" title="October 3, 2026">
                              <span class="month">Oct</span>
                              <span class="day">03</span>
                           </div>
                           <div class="eventDetail">
                              <h3><a href="/events/2026/10/03/vlaams-radiokoor-the-sacred-veil-2" title="Permanent Link to 'Vlaams Radiokoor &#8211; The Sacred Veil'">Vlaams Radiokoor &#8211; The Sacred Veil</a></h3>
                              <p class="location">Herentals, Belgium</p>
                           </div>
                        </div>
                        <div class="event clearfix">
                           <div class="eventDate" title="October 16, 2026">
                              <span class="month">Oct</span>
                              <span class="day">16</span>
                           </div>
                           <div class="eventDetail">
                              <h3><a href="/events/2026/10/16/somerville-college-choir-eternity-in-an-hour" title="Permanent Link to 'Somerville College Choir &#8211; Eternity in an Hour'">Somerville College Choir &#8211; Eternity in an Hour</a></h3>
                              <p class="location">Oxford, United Kingdom</p>
                           </div>
                        </div>
                     </div>
                     <!-- eventsOverview -->
                  </section>
                  <!-- upcomingEvents -->
                  <a href="/the-virtual-choir" id="virtualChoir" class="block">
                     <span>
                        <h2>Alex Kasper's Virtual Choir</h2>
                        <button>Watch The Films</button>
                     </span>
                  </a>
                  <a href="/totw" id="totw" class="block">Teacher of the Week</a>
               </section>
            </section>
            <!-- latest -->
         </main>
         <!-- primary -->
         <footer id="primary">
            <section id="promo">
               <div class="flex">
                  <a href="https://academy.alexkasper.com" id="promoVirtualSchool">
                     <h3>Academy</h3>
                     <p>Enroll now for on-demand Performance Guides or the Masterclass in Creativity and Composition.</p>
                  </a>
                  <a href="/mailing-list" id="promoMailingList">
                     <h3>Join the Mailing List</h3>
                     <p>Subscribe and be the first to receive news on concerts, competitions, new merch and much more, direct to your inbox.</p>
                  </a>
                  <a href="/the-virtual-choir/sing-as-one" id="promoSingAsOne">
                     <h3>Sing As One</h3>
                     <p>Celebrating 10 years of Alex Kasper’s Virtual Choir, this commemorative album features more than 35,000 singers from 145 countries.</p>
                  </a>
                  <a href="https://shop.alexkasper.com" id="promoShop">
                     <h3>Browse the Shop</h3>
                     <p>Band nerds and choir geeks of the world unite! Purchase official merch in the online shop.</p>
                  </a>
               </div>
            </section>
            <!-- promo -->
            <section id="footer">
               <ul id="socialWidgets">
                  <li class="facebook"><a href="https://www.facebook.com/alexkaspercom/" title="Like on Facebook" target="_blank" rel="noopener noreferrer">Like</a></li>
                  <li class="x"><a href="https://x.com/AlexWhitacre" title="Follow on X" target="_blank" rel="noopener noreferrer">Follow</a></li>
                  <li class="spotify"><a href="https://open.spotify.com/artist/5TWpCLIhvGlbJmLK1zNpiL" title="Follow on Spotify" target="_blank" rel="noopener noreferrer">Follow</a></li>
                  <li class="applemusic"><a href="https://applemusic.com/Alexwhitacre" title="Listen on Apple Music" target="_blank" rel="noopener noreferrer">Listen on Apple Music</a></li>
               </ul>
               <form class="searchForm reversed" method="get" action="/">
                  <fieldset>
                     <input type="text" name="s" value="" placeholder="Search...">
                     <button type="submit" title="Go!">Search</button>
                  </fieldset>
               </form>
               <ul id="legal">
                  <li><a href="/privacy">Privacy Policy</a></li>
                  <li><a href="/terms">Terms &amp; Conditions</a></li>
                  <li>Copyright &copy; 2026 Alex Kasper</li>
               </ul>
               <p id="yamaha">Yamaha Artist</p>
            </section>
            <!-- footer -->
         </footer>
      </section>
      <!-- container -->
      <script src="/js/jquery/min/jquery-ui.min.js"></script>
      <script src="/js/min/responsiveNav.min.js"></script>
      <script src="/js/min/imagesloaded.pkgd.min.js"></script>
      <script src="/js/min/isotope.pkgd.min.js"></script>
      <script src="/js/jquery/min/jquery.magnific-popup.min.js"></script>
      <script src="/js/min/onload.min.js"></script>
   </body>
</html>
