{{ define "main" }}

<main id="primary">
  <section class="content clearfix">

    <section class="block">
      <article class="page" data-pagefind-body>

        <header>

          {{ if not .Params.hideDate }}
            {{ with .Date }}
              <p class="meta">
                {{ .Format "January 2, 2006" }}
              </p>
            {{ end }}
          {{ end }}

          <h1 data-pagefind-meta="title">{{ .Title }}</h1>

        </header>

        {{ with .Resources.GetMatch "cover.*" }}
          <figure class="page-cover">
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Title }}"
              loading="eager">
          </figure>
        {{ end }}

        <div class="fullPost clearfix">
          {{ .Content }}
        </div>

      </article>
    </section>

  </section>
</main>

{{ end }}