{{ define "main" }}

<main id="primary">
  <section class="content columns clearfix">

    <section>
      <section class="block">
        <article class="page">

          <header>

            {{ with .Date }}
            <p class="meta">
              {{ .Format "January 2, 2006" }}
            </p>
            {{ end }}

            <h2>{{ .Title }}</h2>

          </header>

          {{ with .Resources.GetMatch "cover.*" }}
          <figure class="page-cover">
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Title }}"
              loading="eager">
          </figure>
          {{ end }}

          <div class="fullPost clearfix">
            {{ .Content }}
          </div>

        </article>
      </section>
    </section>

  </section>
</main>

{{ end }}