{{ define "main" }}

<main id="primary">
  <section class="content clearfix">

    <ul class="categories clearfix">
      <li>
        <a href="/events/">Upcoming Events</a>
      </li>
      <li class="current-cat">
        <a href="/events/archive/">Archive</a>
      </li>
    </ul>

    {{ with .Content }}
      <div class="fullPost clearfix">
        {{ . }}
      </div>
    {{ end }}

    {{ $archive := slice }}

    {{ range where site.RegularPages "Section" "events" }}
      {{ $page := . }}

      {{ with .Params.startDate }}
        {{ $startDate := time.AsTime . }}

        {{ $endDate := $startDate }}
        {{ with $page.Params.endDate }}
          {{ $endDate = time.AsTime . }}
        {{ end }}

        {{ if lt $endDate now }}
          {{ $archive = $archive | append (dict
            "page" $page
            "startDate" $startDate
            "endDate" $endDate
          ) }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $archive = sort $archive "startDate" "desc" }}

    <div id="eventsFull">

      {{ range $archive }}
        {{ $page := .page }}
        {{ $startDate := .startDate }}
        {{ $endDate := .endDate }}

        <div class="event tile">

          <p class="datetime col">

            <span class="day">
              {{ if and
                (eq ($startDate.Format "2006-01") ($endDate.Format "2006-01"))
                (ne ($startDate.Format "2006-01-02") ($endDate.Format "2006-01-02"))
              }}
                {{ $startDate.Format "January 2" }}–{{ $endDate.Format "2, 2006" }}

              {{ else if ne
                ($startDate.Format "2006-01-02")
                ($endDate.Format "2006-01-02")
              }}
                {{ $startDate.Format "January 2, 2006" }}–{{ $endDate.Format "January 2, 2006" }}

              {{ else }}
                {{ $startDate.Format "January 2, 2006" }}
              {{ end }}
            </span>

            <span class="time">
              {{ $startDate.Format "3:04 pm" }}

              {{ if ne
                ($startDate.Format "2006-01-02T15:04")
                ($endDate.Format "2006-01-02T15:04")
              }}
                – {{ $endDate.Format "3:04 pm" }}
              {{ end }}
            </span>

          </p>

          <div class="title col">

            <h3>
              <a
                href="{{ $page.RelPermalink }}"
                title="Permanent Link to '{{ $page.Title }}'">
                {{ $page.Title }}
              </a>
            </h3>

            {{ if or
              $page.Params.location
              $page.Params.city
              $page.Params.region
              $page.Params.country
            }}
              <p class="location">
                {{- with $page.Params.location -}}
                  <span class="venue">{{ . }}</span>
                {{- end -}}
                {{- with $page.Params.city -}}
                  {{- if $page.Params.location }}, {{ end -}}{{ . }}
                {{- end -}}
                {{- with $page.Params.region -}}
                  {{- if or $page.Params.location $page.Params.city }}, {{ end -}}{{ . }}
                {{- end -}}
                {{- with $page.Params.country -}}
                  {{- if or
                    $page.Params.location
                    $page.Params.city
                    $page.Params.region
                  }}, {{ end -}}{{ . }}
                {{- end -}}
              </p>
            {{ end }}

          </div>

          <p class="buttons col">
            <a
              href="{{ $page.RelPermalink }}"
              class="button secondary binfo">
              More Info
            </a>
          </p>

        </div>

      {{ else }}
        <p>No archived events are currently available.</p>
      {{ end }}

    </div>
    <!-- eventsFull -->

  </section>
</main>

{{ end }}