{{ define "main" }}

<main id="primary">
   <section class="content clearfix">
      <section class="block">
         <h1>Search</h1>

         <link href="/pagefind/pagefind-ui.css" rel="stylesheet">

         <div id="search"></div>

         <script src="/pagefind/pagefind-ui.js"></script>
         <script>
            window.addEventListener("DOMContentLoaded", function () {
               new PagefindUI({
                  element: "#search",
                  showSubResults: true
               });
            });
         </script>
      </section>
   </section>
</main>

{{ end }}