{{ define "main" }}

<main id="primary">
   <section class="content clearfix">
      <section class="block">

         <link
            href="/pagefind/pagefind-component-ui.css"
            rel="stylesheet"
         >

         <script
            src="/pagefind/pagefind-component-ui.js"
            type="module">
         </script>

         <h1>Search</h1>

         <div id="search">
            <pagefind-input
               id="pagefind-search-input"
               placeholder="Enter keyword(s)..."
               autofocus>
            </pagefind-input>

            <hr>

            <pagefind-summary></pagefind-summary>

            <pagefind-results show-images></pagefind-results>
         </div>

<script type="module">
   const params = new URLSearchParams(window.location.search);
   const query = params.get("q")?.trim();

   if (query) {
      await customElements.whenDefined("pagefind-input");

      const manager =
         window.PagefindComponents.getInstanceManager();

      const searchInstance =
         manager.getInstance("default");

      searchInstance.triggerSearch(query);
   }
</script>

      </section>
   </section>
</main>

{{ end }}